extends layout

block content

    script(src="../javascripts/cookbook.js" type="module" defer)
    link(rel='stylesheet' href='/stylesheets/cookbook.css')
    div(class='hidden' id='logout-form-holder' class='logout-form-holder')
        form(action='/users/logout' method='post' class='logout-form')
            input(type='hidden' name='_csrf' value=token)
            table
                thead
                    tr
                        th(colspan=2) Are you sure you want to logout?
                tbody
                    tr
                        td
                            button(type='submit' id='logout-confirm-button' class="hover-popout") Yep!
                        td
                            button(id="no-logout-button" class="hover-popout") No!
    div(class="navbar")
        div(class="navbar-thirds" id="navbar-thirds-header")
            .header-1
                h1 Cookbook: #{cookBook.name}
        div(class="navbar-thirds")
        div(class="navbar-thirds")
        div(class="navbar-thirds" id="navbar-thirds-buttons")
            form(action="/dashboard" method="get" id="return-to-dashboard-button")
                button(type='submit' class="return-to-dashboard-button hover-popout") Dashboard
            form(action="/cookbooks" method="get" id="cookbooks-button")
                button(type='submit' class="cookbooks-button hover-popout") Cookbooks
            button(id="logout-button" class="logout-button hover-popout") Logout
    div(class="body-flex")
        div(class="recipe-flex")
            each recipe in cookBook.Recipes
                a(href=`/recipes/${recipe.id}` class="hover-popout card")
                    div(class="card_header")
                        h2(class="recipe-title") #{recipe.title}
                        div(class="card-header-button-holder")
                            form(action="/cookbooks/recipe/delete" method="post" id="delete-recipe-button" class="delete")
                                input(type='hidden' name='_csrf' value=token)
                                input(type='hidden' name='deleteRecipe' value=recipe.id)
                                input(type='hidden' name='currentBook' value=cookBook.id)
                                button(type='submit' class="delete-recipe-button hover-popout") Remove Recipe
                            form(action="/cookbooks/recipe/cook" method="post" id="cook-recipe-button" class="delete")
                                input(type='hidden' name='_csrf' value=token)
                                input(type='hidden' name='updateRecipe' value=recipe.id)
                                input(type='hidden' name='currentBook' value=cookBook.id)
                                if recipe.CookBookRecipe.cooked
                                    button(type='submit' class="cook-recipe-button hover-popout") Cooked!
                                else
                                    button(type='submit' class="cook-recipe-button hover-popout") Not Cooked!
                    div(class="recipe_image")
                        if recipe.foodImg
                            img(src=recipe.foodImg alt=recipe.title class="recipe-image" style=`width:90%;height:auto; max-height:300px; width: auto;`)
                        else
                            p(class="recipe-image" style=`width:90%;height:auto; max-height:300px; width: auto;`)=recipe.title
                    div(class="status")
                        if recipe.CookBookRecipe.cooked
                            h4 Cook Again!
                        else
                            h4 Cook Me!
