extends layout

block content

    link(rel='stylesheet' href='/stylesheets/cookbooks.css')
    script(src="../javascripts/cookbooks.js" type="module" defer)


    div(class="navbar" id='navbar')
        div(class="navbar-thirds" id="navbar-thirds-header")
            .header-1
                h1 My Cookbooks
        div(class="navbar-thirds")
        div(class="navbar-thirds")
        div(class="navbar-thirds")
        div(class="navbar-thirds" id="navbar-thirds-buttons")
            button(id="create-cookbook-button" class="create-cookbook-button hover-popout") Create Cookbook
            form(action="/dashboard" method="get" id="return-to-dashboard-button")
                button(type='submit' class="return-to-dashboard-button hover-popout") Dashboard
            form(action="/users/logout" method="post" id="logout-user-button")
                button(type='submit' class="logout-button hover-popout") Logout
    div(class="body-flex" id="body-flex")
        div(class="cookbook-flex" id="cookbook-flex")
            each cookBook, index in cookBooks
                - const recipes = cookBook.Recipes;
                - const recipeLength = recipes.length;
                - const width = 1/recipeLength * 100;
                a(href=`http://localhost:8080/cookbooks/${cookBook.id}` class="card hover-popout")
                    div(class="card_header")
                        h2 #{cookBook.name}
                    div(id="box")
                        if recipes.length > 2
                            div(class="recipe_image scroller")
                                each recipe in recipes
                                    img(src=recipe.foodImg, alt=recipe.title class="recipe-image" style=`width:${width *.9}%;height:auto; max-height:300px; width: auto;`)
                        else
                            div(class="recipe_image")
                                each recipe in recipes
                                    img(src=recipe.foodImg, alt=recipe.title class="recipe-image" style=`width:${width *.9}%;height:auto; max-height:300px; width: auto;`)
                    div(class='status')
                        if cookBook.uncooked > 0
                            h4 #{cookBook.uncooked} recipe(s) left to cook
                        else
                            h4 All recipes cooked!
        div(class='cookbook-form-holder hidden' id='cookbook-form-holder')
            form(action='/cookbooks' method='post' id='loginForm' class=`hidden` )
                input(type='hidden' name='_csrf' value=token)
                table
                    thead
                        tr
                            th(id='login__form--title' colspan=2) Log In
                    tbody
                        tr
                            td
                                label(id='login__form--label' for='email') Email
                            td
                                input(type='text' class='loginTextBox' name='email' value=user.email placeholder='enter your email')
                        tr
                            td
                                label(id='login__form--label' for='password') Password
                            td
                                input(type='password' name='password' class='loginTextBox' placeholder='enter your password')
