doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="recipe-page.css")
        link(rel="icon" href="../favicon.jpg" type="image/jpg")
        <script src="https://kit.fontawesome.com/33df1dd2cb.js" crossorigin="anonymous"></script>
        title Recipe
    body
        block content
            div(class='header-1')
                h1=recipe.title
                h2(class='recipeRating')=recipe.avgRating
                //- still need to get avgRating
            div(class='recipe__recipeCard')
                div(class='recipe__description')
                    each recipeDescription in recipeDescriptions
                        p=recipeDescription
                    div
                        img(src=recipe.foodImg, alt=recipe.title)
                    div(class='recipe__ingredients')
                        h3(class='header-3') Ingredients
                        ul
                            each recipeIngredient in recipeIngredients
                                li=recipeIngredient
                    div(class='recipe__directions')
                        h3(class='header-3') Directions
                        ul
                            each recipeDirection in recipeDirections
                                li=recipeDirection
                    div(class='recipe__reviews')
                        h3(class='header-3') Reviews
                        div(class='recipe__review')
                            each recipeReview in recipeReviews
                                div(class='recipe__review--content')
                                    p(class='recipe__review--username')=recipeReview.User.userName
                                    span=recipeReview.revContent
                                //- do we want to display the user who posted the review?
                                //- how to oder the reviews
            div(class='review__form')
                form(action=`/api/recipes/${recipe.id}/review` method='post' id='reviewForm' class='hidden')

                    label(for='revContent') Write your review!
                    textarea(name='revContent' cols='30' row='10' class='revContent') Your review here!

                    label(for='rating') Rate the recipe
                        //- select(class='ratingSelector')
                        each val in [5, 4, 3, 2, 1]
                            option(value="")
                            i.fas.fa-star
                    //- <i class="fas fa-star"></i>
                    //- i.fas.fa-star
                    //- <i class="fas fa-star-half"></i>
