doctype html
html(lang='en')
    head
        meta(charset='UTF-16')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='../javascripts/recipe.js' type='module' defer)
        link(rel='stylesheet', href='/stylesheets/recipe-page.css')
        link(rel='icon' href='../favicon.jpg' type='image/jpg')

        title Recipes
    body
        div(class='header-1')
            h1=recipe.title
        span(id='recipe__avgRating--andstars')
            h2(class='recipeRating')=recipe.avgRating
            -let n=0
                while n<recipe.avgRating
                    span(id='the-stars_')
                        img(id='star' src='../images/star-icon.png')
                    -n++
        div(class='recipe__recipeCard')
            div(class='recipe__description')
                each recipeDescription in recipeDescriptions
                    p=recipeDescription
                div
                    img(src=recipe.foodImg, alt=recipe.title)
                div(class='recipe__ingredients')
                    h3(class='header-3') Ingredients
                    ul
                        each recipeIngredient in recipeIngredients
                            li=recipeIngredient
                div(class='recipe__directions')
                    h3(class='header-3') Directions
                    ol
                        each recipeDirection in recipeDirections
                            li=recipeDirection
            div(class='reviewCookbookWrap')
                div(class='recipe__reviewButton')
                    button(id='displayReviewButton') Write A Review
                div
                    button(class='recipe__cookBook--button') Add to Cookbook
                    //- ask about this for add to cookbooks

                div(class='recipe__reviews')
                    h3(class='header-3') Reviews
                    div(class='recipe__review')
                        each recipeReview in recipeReviews
                            div(class='recipe__review--content')
                                div(class='reviewContent__name--andRating')
                                    span(class='userName_and_rating')= `${recipeReview.User.userName} ${recipeReview.rating}`
                                    -let n=0
                                    while n<recipeReview.rating
                                        span(id='the-stars')
                                            img(id='star' src='../images/star-icon.png')
                                        -n++
                                div(class='reviewContent__the--content')
                                    p(id='review__content')=recipeReview.revContent
                                div(id='editDelete__container' class='hidden')
                                    span(id='edit')
                                    span(id='delete')
                        //- how to oder the reviews

        div(class='review__form hidden')
            form(action=`/api/recipes/${recipe.id}/review` method='post' id='reviewForm')
                input(type='hidden' id='recipeId' value=recipe.id)
                label(for='revContent' class='revFormLabel') Write your review!
                textarea(name='revContent' cols='30' row='10' class='revContent' placeholder=name)

                label(for='rating' class='revFormLabel') Rate the recipe
                    select(class='ratingSelector' name='rating')
                        each val in [5, 4, 3, 2, 1]
                            option(class='review__form--dropdown') #{val} &#127775
                div(class='review__form--button')
                    button(type='submit' id='review__form--submit') Submit
        //- div(class='addToCookbook__form')
        //-         form(action=`/api/cookbooks/recipes/${recipe.id}` id='addToCookbookForm' class='hidden')
        //-             h1(class='addToCookbookLabel')
        //-             label(for='addToCookbookForm' class='addToCookBookLabel') Add this recipe to one of you cookbooks!
        //-                     //- do we want to do a selector?
        //-             select(class='cookbookSelector') Select A Cookbook
        //-                 each cookbook in cookbooks
        //-                     option(class='')
