doctype html
html
  head
      block head
        title='GoodEats'
        link(rel='icon' href='../favicon.jpg' type='image/jpg')
        link(rel='stylesheet' href='/stylesheets/splash.css')
        script(src='../javascripts/splash.js' type='module' defer)
  body
    block content
        div(id='bodyContainer')
            h1(id='header__1') Welcome to GoodEats
            div(id='buttons')
                div(class='logInButton')
                    button(id='logInButton') Log In
                div(class='signUpButton')
                    button(id='signUpButton') Sign Up
                div(class='demoButton')
                    button(id='demoButton') Test Drive
            div(class='formHolder')
                div(id='forms' class='hidden')
                    form(action='/users/login' method='post' id='login__form' class=`${displayLogin} hidden` )
                        input(type='hidden' name='_csrf' value=token)
                        table
                            thead
                                tr
                                    th(id='login__form--title' colspan=2) Log In
                            tbody
                                tr
                                    td
                                        label(id='login__form--label' for='email') Email
                                    td
                                        input(type='text' class='login__form--textBox' name='email' value=user.email placeholder='enter your email')
                                tr
                                    td
                                        label(id='login__form--label' for='password') Password
                                    td
                                        input(type='password' name='password' class='login__form--textBox' placeholder='enter your password')
                        button(type='submit' id='login__form--button') Login!
                    form(action='/users/signup' method='post' id='signup__form' class='hidden splash__form')
                        input(type='hidden' name='_csrf' value=token)
                        table
                            thead
                                tr
                                th(id='signup__form--title' colspan=2) Sign Up
                            tbody
                                tr
                                    td
                                        label(id='signup__form--label' for='username') Username
                                    td
                                        input(type='text' class='signup__form--textBox' name='username' value=user.userName placeholder='Enter your Username')
                                tr
                                    td
                                        label(id='signup__form--label' for='email') Email
                                    td
                                        input(type='text' name='email' class='signup__form--textBox' placeholder='Enter your email')
                                tr
                                    td
                                        label(id='signup__form--label' for='password') Password
                                    td
                                        input(type='password' name='password' class='signup__form--textBox' placeholder='Enter your password')
                                tr
                                    td
                                        label(id='signup__form--label' for='confirmedPassword') Confirm Password
                                    td
                                        input(type='password' class='signup__form--textBox' name='confirmedPassword' placeholder='Confirm password')
                        button(type='submit' class='signup__form--button' id='signup__form--submitButton') Signup
                    form(action='/users/dashboard/5' method='get' id='demoUser__form' class='hidden splash__form' )

                        p(id='demoUser__form--info') You can use this feature to test out the site, but none of your information will be saved.
                        button(type='submit' id='demoUser__form--button') Enter GoodEats
                    if loginErrors
                        div(class='loginErrors' role='alert')
                            ul
                                each error in loginErrors
                                    li=error
                    if signUpErrors
                        div(class='signUpErrors' role='alert')
                            ul
                                each error in signUpErrors
                                    li=error
